body {
  margin: 0 auto;
  text-align: center;
}

.pokemon-container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0 auto;
}

.pokemon {
  flex-grow: 1;
  font-family: monospace;
  align-items: center;
  padding: 20px;
  margin-top: 10px;
  margin-left: 10px;
  border: 2px solid black;
  box-shadow: 1px 1px black;
}

#Dragonair {
  background-color: #F07442;
  border-radius: 15px;
}

#Ekans {
  background-color: #9D22E0;
  border-radius: 15px;
}

#Charmander, #Rapidash {
  background-color: #F51F1D;
  border-radius: 15px;
}

#Pikachu {
  background-color: #F5CF1A;
  border-radius: 15px;
}

#Alakazam, #Mew {
  background-color: #E059D7;
  border-radius: 15px;
}

#Snorlax {
  background-color: #F2C1F9;
  border-radius: 15px;
}

#Caterpie {
  background-color: #B3591D;
  border-radius: 15px;
}
